---
name: "YAMLLint"

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * 0"
  workflow_dispatch:

permissions: {}

jobs:
  yamllint:
    name: Check with YAMLLint
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 1
          persist-credentials: false
      - name: Run YAMLLint
        shell: bash
        run: |
          set -euo pipefail
          IFS=$'\n\t'
          yamllint -d '{extends: default, rules: {line-length: disable}}' .
